@import "tailwindcss";
:root, .theme-blue {
  --background: 210 50% 98%;
  --foreground: 215 25% 27%;
  --card: 0 0% 100%;
  --card-foreground: 215 25% 27%;
  --popover: 0 0% 100%;
  --popover-foreground: 215 25% 27%;
  --primary: 220 70% 50%;
  --primary-hover: 220 70% 45%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 220 70% 40%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215 25% 40%;
  --accent: 220 70% 50%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 25% 27%;
  --sidebar-background: 210 50% 98%;
  --sidebar-foreground: 215 25% 40%;
  --sidebar-primary: 220 70% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 210 50% 95%;
  --sidebar-accent-foreground: 215 25% 27%;
  --sidebar-border: 214.3 31.8% 91.4%;
  --sidebar-ring: 220 70% 50%;
  --footer-background: hsl(215, 52.2%, 9%);
  --codebg: hsl(0, 0%, 100%);
  --radius: .75rem;
}

body{
  background-color: hsl(var(--background));
}